# Python 基础忽略
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 虚拟环境
venv/
env/
ENV/
*.env
*.venv

# 数据分析相关
*.csv
*.xlsx
*.xls
*.pkl
*.npy
*.npz
*.h5
.DS_Store  # Mac 系统文件
.ipynb_checkpoints/  # Jupyter 缓存
*.log  # 日志文件

# 可视化/图表
*.png
*.jpg
*.jpeg
*.svg
*.pdf

# IDE 配置
.idea/  # PyCharm
.vscode/  # VS Code
*.sublime-*  # Sublime



# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# 学术项目
data/       
results/    
logs/  